# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Pychart project files
venv
__pycache__

# Output files
*.csv
*.json
